* {
    margin: 0;
    padding: 0;
}

.home {
    display: block;
    h1 {
        text-align: center;
    }
    .story-detail {
        display: block;
        width: inherit;
        border: 1px solid black;
        margin: 15px 0px 20px 0px;
        padding: 10px;
        div {
            padding-top: 10px;
        }
    }
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}